<img src = "{{ MEDIA_URL }}img/spider1.jpg">

<p>
  This web site hosts some CM related lightweight web applications
  which are mainly to find, connect, and show various kinds of CM items
  such as system, components, branches, versions, bug-fixes, features, and so on.
</p>

<h2>Ready to Use</h2>
  (None so far)

<h2>Ready to Try</h2>
  <ul>
    <li><a href="matrix/">System Branch Composition Matrix</a>:
      Externsion of <a href="https://wiki.sonyericsson.net/androiki/Branch_and_Repository_Browsing">ComponentBranches</a>.</li>
  </ul>

<h2>External</h2>
  <ul>
    <li><a href="https://wiki.sonyericsson.net/androiki/Web-based_Lightweight_CM_Tools">Full list of webbased lightweight CM tools</a>
    <li><a href="https://wiki.sonyericsson.net/androiki/CM_Related_Tools">Introduction of major CM tools</a>
  </ul>

<p><i>Contact us: <a href = "mailto:SG-WW-Android-CM-Web-G@sonyericsson.com">SG-WW-Android-CM-Web-G</a></i></p>
